# Temporary/intermediate/output files
*.exe
*.obj
*.o
*.def
!ws2_32x.def
*.ksp
*.pdb
*.rsp
*.map
*.mem
*.suo
mywormnet2

# Logs
/logs/

# Local configuration
mywormnet2.ini
news.html
motd.txt
